  
body {
  text-align: center;
  margin-top: 50px;
}

html {
  background-color: black;
}

h1, h2, h3, span{
  display: block;
  margin-bottom: 10px;
  color: white;
}

.fav-icon-source, a {
  color: white;
}

.btn {
  margin:0 20px;
  background-color: black
}

.oscilloscope {
  margin-bottom: 20px;
}

.classification-title {
  color: white;
}